
.container{
    padding: 0;
    margin: 20px auto;
}

.outer{
    height: 100vh;
}

.outer .col-md-4{
    padding: 0;
}

.todo-section{
    border: 2px solid black;
    height: 100%;
    margin: 10px;

}

.display-4{
    text-align: center;
    padding: 5px 0;
    background-color: #CBC3E3;
}

.main-outer-btn{
    width: 100%;
    text-align: center;
}

.card{
    margin: 10px;
    margin-top: 20px;
    background-color: #E6E6FA;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;

}

.card .card-header{
    display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}




.cancel-btn{
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 100%;
}
