.main-heading{
    margin: 10px auto;
    text-align: center;
}

.order-id-input{
    text-align: center;
    width: 500px !important;
    margin: 20px auto;
}

.outer-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}

.order-block{
    margin: 20px 0;
}

.card{
    border-radius: 20px;
}
.card-footer{
    background: none;
    border: none;
}